[Unit]
Description=Configuration Decrypt
After=network-online.target

[Service]
ExecStart=/root/configdecrypt.sh
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=basic.target