[Unit]
Description=Configuration Decrypt
After=launch.service
ConditionPathExists=/root/configdecrypt.sh

[Service]
Type=forking
ExecStart=/root/configdecrypt.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=basic.target