[Unit]
Description=OpenCanary honeypot
After=syslog.target
After=network.target

[Service]
Restart=always
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
Environment=VIRTUAL_ENV=/opt/opencanary/virtualenv/
Environment=PATH=$VIRTUAL_ENV/bin:/usr/bin:$PATH
WorkingDirectory=/opt/opencanary/virtualenv/bin
ExecStart=/opt/opencanary/virtualenv/bin/opencanaryd --dev

[Install]
WantedBy=basic.target